<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf=8">
        <title>Coti Lottery Shuffler</title>
        <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <div class="container">
        <h1>Clash of the Immortals Lottery Shuffler</h1>
        <form method="POST">
            <div class="form-group">
                <label for="participations">Participations</label>
                <textarea name="participations" class="form-control" rows="10" style="white-space: pre; word-wrap: normal;">
{%- if participants %}{% for part in participants %}
{{- part[0] }} {{ part[1] }}
{% endfor %}{% endif -%}
                </textarea>
                <div class="help-block">Each line is the number of participations followed by the name of the participant. Ex: <tt>7 SuperToonName</tt></div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

{%- if shuffled %}
        <hr>
        <p>Shuffled list of {{ total }} participations using random.org:</p>
        <pre>
{%- for part in shuffled %}
{{- loop.index }}. {{ part }}
{% endfor -%}
        </pre>
{%- endif %}
    </div>
    </body>
</html>
